/**
 * [Table of contents]
 *
 * [&. Content / #key]
 * [Let press Ctrl + f and type of paste the key, then press Enter to search the content ]
 *
 * Summary:
 *
 *  


/*=============================
 =====   VARIABLE LESS    =====
 =============================*/
/*----------  0.1. Color  ----------*/
a:active,
a:focus,
a:hover {
  color: #FF85BE;
}
.line,
.typo-line:after {
  background-color: #FF85BE;
}
.btn-wrapper {
  color: #123;
}
.btn-wrapper .btn {
  background-color: #FF85BE;
  border-color: #FF85BE;
}
.btn-wrapper .btn:hover {
  color: #FF85BE;
  background-color: #ffffff;
}
.btn-wrapper .btn-transparent {
  background-color: transparent;
}
.btn-wrapper.slz-back-to-top .btn {
  border-color: #FF85BE;
  color: #FF85BE;
}
.btn-wrapper.slz-back-to-top:hover .btn {
  background-color: #FF85BE;
  color: #fff;
}
.howwedo .list-features .description {
  color: #fdfef7;
}
.howwedo .howwedo-left-wrapper {
  padding: 0;
}
.howwedo .typo-line .sub-header {
  color: #0f77ad;
}
.howwedo .header ~ .description {
  color: #51616B;
}
.howwedo .description {
  color: #e7dee8;
}
.whatwedo-dermatology {
  text-align: center;
}
.whatwedo-dermatology .services-wrapper {
  margin-bottom: -10px;
}
.whatwedo-dermatology .services-content.style-3 {
  margin-bottom: 32px;
}
.whatwedo-dermatology .services-content.style-3 .btn-for-icon i {
  color: #FF85BE;
}
.why-choose-us-wrapper .description {
  color: #f2e2f4;
}
.why-choose-us-wrapper .btn-wrapper .btn-transparent:hover {
  color: #523855;
}
.testimonials.testimonials-style-2 .slider-testimonials-inner {
  border: 2px solid #ffffff;
  border-top: 0;
}
.testimonials.testimonials-style-2 .close-bracket-wrapper {
  background-color: #FF85BE;
}
.testimonials.testimonials-style-2 .close-bracket-wrapper i {
  color: #ffffff;
}
.testimonials.testimonials-style-2 .close-bracket-wrapper .line-top {
  background-color: #ffffff;
}
.testimonials.testimonials-style-2 .description {
  color: #ffffff;
}
.testimonials.testimonials-style-2 .nav-testimonial .nav-testimonial-inner-left,
.testimonials.testimonials-style-2 .nav-testimonial .nav-testimonial-inner-right {
  border: 2px solid #ffffff;
}
.our-team .team-inner:after {
  border-color: #FF85BE;
}
.our-team .team-inner .line-effect:before,
.our-team .team-inner .line-effect:after {
  background-color: #FF85BE;
}
.our-team .team-inner .team-sub-title {
  color: #FF85BE;
}
.our-team .team-inner:hover:before {
  border-bottom-color: #FF85BE;
}
.our-team .team-inner .team-flipcard .back {
  background-color: rgba(255, 133, 190, 0.85);
}
.fun-fact .progress-container .description-counter {
  color: #434a54;
}
.recent-news-item .recent-news-content:before,
.recent-news-item .recent-news-content:after {
  border-color: #FF85BE;
}
.recent-news-item .recent-news-content .recent-news-title a:hover {
  color: #FF85BE;
}
.services-content .btn-for-icon i {
  color: #FF85BE;
}
.services-content .btn-for-icon .icon2 {
  background-color: #FF85BE;
}
.footer-content:after {
  background-color: rgba(45, 55, 64, 0.97);
}
.doctor-wrapper .doctor-body:before,
.doctor-wrapper .doctor-body:after {
  border-color: #FF85BE;
}
.doctor-wrapper .doctor-sub-title {
  color: #FF85BE;
}
.doctor-wrapper .doctor-info i {
  color: #FF85BE;
}
.doctor-wrapper .doctor-info .info-inner:hover {
  color: #30cddb;
}
.doctor-wrapper .doctor-title:after {
  border-color: #FF85BE;
}
.doctor-wrapper .doctor-title:hover {
  color: #FF85BE;
}
.search-block .btn-wrapper .view-all {
  color: #FF85BE;
}
.doctor-block .contact-wrapper i {
  color: #FF85BE;
}
/**
 * HOME
 */
.sc_service .line {
  background-color: #FF85BE;
}
.widget-make-appointment .slz-shortcode.sc_appointment .appointment-form {
  background-color: #ff80bb;
  color: #ffffff;
}
.widget-make-appointment .make-app-btn {
  background-color: #ff9fcc;
}
.slz-shortcode.sc_appointment .appointment-form {
  background-color: #ff80bb;
  color: #ffffff;
}
.slz-shortcode.sc_appointment .appointment-form .wpcf7-form-control-wrap input[type="submit"] {
  background-color: #FF85BE;
  color: #FF85BE;
}
.slz-shortcode.sc_appointment .appointment-form .wpcf7-form-control-wrap input,
.slz-shortcode.sc_appointment .appointment-form .wpcf7-form-control-wrap textarea {
  border-color: #ff9fcc;
}
.slz-shortcode.sc_appointment .appointment-form input[type="submit"] {
  color: #ffffff;
  background-color: #ff9fcc;
  border-color: #ff9fcc;
}
.slz-shortcode.sc_appointment .appointment-form input[type="submit"]:hover {
  color: #ff80bb;
  border-color: #ff9fcc;
}
.slz-shortcode.sc_appointment .home-appointment.index-2 .appointment-form .btn-wrapper .btn {
  background-color: #ff9fcc;
  border-color: #ff9fcc;
  color: #ffffff;
}
.slz-shortcode.sc_appointment .home-appointment.index-2 .appointment-form .btn-wrapper .btn:hover {
  border-color: #ff9fcc;
  color: #ff80bb;
}
.make-app-btn {
  background-color: #ff9fcc;
}
/**
 * APPOINTMENT
 */
.appointment-wrapper .list-features i {
  color: #FF85BE;
}
.appointment-wrapper .appointment-form .btn-wrapper .btn {
  border-color: #FF85BE;
  background-color: #FF85BE;
}
/**
 * PAGE
 */
.department-wrapper .department-inner.text-right .department-body:before,
.department-wrapper .department-inner.text-right .department-body:after {
  border-color: #FF85BE;
}
.department-wrapper .department-inner .department-body:before,
.department-wrapper .department-inner .department-body:after {
  border-color: #FF85BE;
}
.department-wrapper .department-head .head-body a:hover {
  color: #FF85BE;
}
.department-wrapper .department-head .head-name:hover {
  color: #FF85BE;
}
.department-wrapper .department-head .list-socials .socials-link i {
  color: #FF85BE;
}
.department-wrapper .btn-wrapper .btn {
  background-color: #FF85BE;
  border-color: #FF85BE;
  color: #ffffff;
}
.department-wrapper .btn-wrapper .btn:hover {
  color: #FF85BE;
  background-color: transparent;
}
.gallery-wrapper .galleryContainer .bg-overlay {
  background-color: #FF85BE;
}
.gallery-wrapper .filter-button-group .btn:after {
  background-color: #FF85BE;
}
.gallery-wrapper .btn-wrapper .btn:hover {
  background-color: #FF85BE;
  border-color: #FF85BE;
}
/*-----------------------------Service Detail--------------------------*/
.widget-other-services .howwedoit-title:hover {
  color: #FF85BE;
}
.howwedoit-inner:hover:before {
  border-color: #FF85BE;
}
.howwedoit-inner .btn-for-icon i.icon1 {
  color: #FF85BE;
}
.howwedoit-inner .btn-for-icon i.icon2 {
  background-color: #FF85BE;
}
.howwedoit-content .howwedoit-inner:hover:before {
  border-color: #FF85BE;
}
.howwedoit-content .btn-for-icon i.icon1 {
  color: #FF85BE;
}
.howwedoit-content .btn-for-icon i.icon2 {
  background-color: #FF85BE;
}
/*-----------------------------FAQs Page--------------------------*/
.faq-wrapper .faq-panel .panel-heading.active::before {
  background-color: #FF85BE;
}
/*-----------------------------404 Page--------------------------*/
.page-404-wrapper .btn-wrapper .btn:hover {
  background-color: #FF85BE;
  border-color: #FF85BE;
}
.page-404-wrapper .btn-wrapper .btn-transparent {
  color: #FF85BE;
}
.pagination-wrapper .pagination .pagi-inner .pagi-link:hover,
.pagination-wrapper .pagination .pagi-inner .pagi-link:focus {
  color: #FF85BE;
  border-bottom-color: #FF85BE;
}
/**
 * BLOG
 */
/*-----------------------------Blog List--------------------------*/
.recent-post-wrapper .post-list .media-heading a:hover {
  color: #FF85BE;
}
.category-list .category-link:hover,
.category-list .archive-link:hover {
  color: #FF85BE;
}
.archive-list .archive-link:hover,
.archive-list .category-link:hover {
  color: #FF85BE;
}
.tag-list .tag-link:hover {
  color: #FF85BE;
}
.post-title a:hover {
  color: #FF85BE;
}
.audio-thumbnails .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background-color: #ff52a3;
}
.audio-thumbnails .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #ffffff;
}
.audio-thumbnails .mejs-controls .mejs-time-rail .mejs-time-total {
  background-color: #FF85BE;
}
.audio-thumbnails .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background-color: #ff52a3;
}
.audio-thumbnails .mejs-controls .mejs-time-rail .mejs-time-current {
  background-color: #ffffff;
}
.audio-thumbnails .mejs-container::before {
  background-color: #FF85BE;
}
.audio-thumbnails .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #ffffff;
}
.post-inner:hover .post-content {
  border-color: #FF85BE;
}
.post-inner:hover .post-content:before {
  background-color: #FF85BE;
}
.list-meta li a:hover {
  color: #FF85BE;
}
.list-meta i .fa-eye,
.list-meta i .fa-comment {
  color: #ffb8d9;
}
.read-more:hover {
  color: #FF85BE;
}
/*-----------------------------Blog Detail--------------------------*/
.blog-detail-wrapper .comments .comment-content .url:hover,
.blog-detail-wrapper .comments .comment-content .info:hover {
  color: #FF85BE;
}
.blog-detail-wrapper .comments .comment-content .info i.fa-reply {
  color: #FF85BE;
}
.blog-detail-wrapper .appointment-form .btn-make-app {
  background-color: #FF85BE;
  border-color: #FF85BE;
}
.blog-detail-wrapper .post-single .share .socials-link:hover {
  color: #FF85BE;
}
.post-single-content .tag-post-list .post-tag-link:hover {
  color: #FF85BE;
}
.post-single-content .panel-default .panel-title a {
  color: #ffb8d9;
}
.post-single-content .panel-default .panel-title a:hover {
  color: #ff52a3;
}
/*-----------------------------Contact--------------------------*/
.contact-wrapper .contact-info .btn-for-icon i {
  color: #FF85BE;
}
.contact-wrapper .contact-info .btn-for-icon .icon2 {
  background-color: #FF85BE;
}
.contact-form-inner .appointment-form .btn-wrapper .btn:hover {
  border-color: #FF85BE;
}
/*-----------------------------About Us--------------------------*/
.testimonials .close-bracket-wrapper i {
  color: #FF85BE;
}
.pediatric.whatwehelp .services-item .btn-for-icon i {
  color: #FF85BE;
}
.info-footer {
  border-color: rgba(255, 255, 255, 0.1);
}
.info-footer:before,
.info-footer:after {
  background-color: rgba(255, 255, 255, 0.1);
}
.ticker-news .ticker-inner .ticker-color:hover {
  color: #30cddb;
}
